.item {
    margin: 10px 0 10px 25px;
    background-color: #586775;
    height: 73px;
    border-radius: 5px;
    width: 150px;

    display: grid;
    grid-template-areas: "i d";
    grid-template-columns: 80px auto;
}

@media screen and (max-width: 600px){
    .item {
        margin: 10px 0 10px 10px;
    }
}

.item div a {
    color: ghostwhite;
}

.dialog a {
    grid-area: d;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.dialog {
    margin-top: 24px;
}

.item img {
    width: 64px;
    grid-area: i;
    margin: 5px
}
