.paginator {
    height: 35px;
    display: grid;
    justify-items: center;
}

.paginatorElements {
    max-width: 300px;
    display: grid;

    grid-template-columns: repeat(auto-fill, 36px);
    grid-column-gap: 8px;
    justify-content: center;
}

.pageNumber {
    cursor: pointer;
    text-align: center;
    padding-top: 18%;
    height: 29px;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: #1a122d;
}

.selectedPage {
    background-color: #6d57f6;
}

.paginator span {
    margin-left: 8px;
    max-width: 45px;
}

.button {
    max-width: 45px;
    cursor: pointer;
    outline: none;
    color: #61dafb;
    display: inline-block;
    margin: 0 -8px;
}

.buttonHidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .paginator {
        height: 25px;

    }
    .paginatorElements {
        width: 200px;
        grid-template-columns: repeat(auto-fill, 25px);
        grid-column-gap: 5px;
    }
    .pageNumber {
        height: 25px;
        border-radius: 7px;
    }
    .button {
        height: 25px;
        margin: 0 -14px;
    }
    .paginator span {
        margin-left: 14px;
    }

}