
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    cursor: pointer;
    background-color: #61dafb;
    width: 55px;
    height: 25px;
    border: #61dafb 1px solid;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.pageNumber.selectedPage {
    font-weight: bold;
}


.selectedPage {
    font-weight: bold;
    cursor: pointer
}

.button {
    background-color: black;
    width: 55px;
    height: 25px;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: #61dafb
}