.paginator {
    margin: 30px;
}
.pageNumber {
    display: inline-block;
    padding-left: 4px;
    cursor: pointer;
    background-color: #61dafb;
    width: 30px;
    height: 20px;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.pageNumber.selectedPage {
    font-weight: bold;
}


.selectedPage {
    font-weight: bold;
    cursor: pointer;
    border: black 2px solid;
    width: 30px;
    height: 21px;
}

.button {
    margin-top: -2px;
    background-color: black;
    width: 45px;
    height: 20px;
    border: black 1px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: #61dafb
}