.user {
    display: grid;
    grid-template-areas: "p d f";
    grid-template-columns: 130px auto 130px;

    width: 750px;
    height: 130px;
    margin-left: 20px;
    border-bottom: #61dafb 1px solid;
}

.photo {
    margin: 10px;
    grid-area: p;
    width: 90px;
}

.fol {
    grid-area: f;
}

.discription {
    grid-area: d;
    margin-top: 20px;
}

.name {
    font-size: 20px;

}

.follow{
    background-color: #61dafb;
    width: 85px;
    height: 35px;
    border: #61dafb 1px solid;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 45px;
    cursor: pointer;
    outline: none;
}

.unfollow {
    background-color: black;
    color: #61dafb;
    width: 85px;
    height: 35px;
    border: black 1px solid;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 45px;
    cursor: pointer;
    outline: none;
}