.user {
    display: grid;
    grid-template-areas: "p d f";
    grid-template-columns: 110px auto 0.1fr;
    grid-gap: 5px;

    max-width: 100%;
    height: 115px;
    margin: 0 2em;
    border-bottom: #61dafb 1px solid;
}

.photo {
    grid-area: p;
    width: 95%;
    margin: 5px;
}

.fol {
    grid-area: f;
}

.descriptionUser {
    grid-area: d;
    margin-top: 20px;
    height: 90px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.follow{
    background-color: #61dafb;
    width: 85px;
    height: 35px;
    border: #61dafb 1px solid;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
}

.unfollow {
    background-color: black;
    color: #61dafb;
    width: 85px;
    height: 35px;
    border: black 1px solid;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    outline: none;
}