.user {
    border-bottom: #61dafb 1px solid;
    display: grid;
    width: 820px;
    height: 130px;
    grid-template-areas: "p d f";
    grid-template-columns: 150px auto 150px;
}

.photo {
    margin: 10px;
    grid-area: p;
    width: 100px;
}

.fol {
    grid-area: f;
}

.discription {
    grid-area: d;
    margin-top: 20px;
}

.name {
    font-size: 20px;

}

.follow{
    background-color: #61dafb;
    width: 95px;
    height: 40px;
    border: #61dafb 1px solid;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.unfollow {
    background-color: lightslategray;
    width: 95px;
    height: 40px;
    border: lightslategray 1px solid;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}