.postsBlock{
    padding: 15px;
}

.posts {
    margin-top: 10px;
}

.button {
    background-color: #61dafb;
    width: 80px;
    height: 20px;
    border: #61dafb 1px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.area {
    margin-top: 10px;
    resize: none;
}

@media screen and (max-width: 600px){
    .button {
        width: 60px;
        height: 20px;
        font-size: 14px;
    }
}