.postsBlock{
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.button {
    background-color: #61dafb;
    width: 100px;
    height: 30px;
    border: #61dafb 1px solid;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.area {
    resize: none;
    rows: 7;
    columns: 30;
}