.mainIcon {
  display: grid;
  grid-template-areas: "logo title";
  grid-template-columns: 60px auto;
  grid-gap: 10px;
  align-items: center;
}

.logo {
  grid-area: logo;
  width: 60px;
}

.title {
  grid-area: title;
  width: 156px;
  height: 36px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;
  text-align: left;
}

.navIcon {
  display: none;
}

@media screen and (max-width: 600px) {
  .mainIcon {
    grid-template-areas: "logo title" "navIcon .";
    grid-template-rows: 55px 28px;
    grid-template-columns: 55px auto;
    grid-gap: 5px;
  }

  .logo {
    width: 55px;
    margin-top: 5px;
  }

  .title {
    grid-area: title;
    width: 140px;
    height: 30px;
    font-size: 13px;
    margin-top: 5px;
  }

  .navIcon {
    grid-area: navIcon;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    justify-self: center;
  }
}