.header {
   grid-area: h;
    background-color: black;
    border-radius: 0 0 10px 10px;
}

.header img {
    width: 120px;
    margin: -2px 0 0 278px;
}

.loginBlock {
    float: right;
    color: #61dafb;
    margin: 5px 303px 0 0 ;
    cursor: pointer;
}


.loginBlock a {
    text-decoration: none;
    color: #61dafb;
    margin-top: 20px;
}

.userName {
    font-size: 32px;
}


.logout {
    text-align: right;
    font-size: 18px;
    color: white;

}

.login {
    margin: 10px;
    font-size: 28px;
}
