.header {
   grid-area: h;
    background-color: black;
    border-radius: 0 0 10px 10px;
}

.header img {
    width: 120px;
    margin: -2px;
}

.loginBlock {
    float: right;
    color: #61dafb;
    margin: 20px;
    cursor: pointer;
}


.loginBlock a {
    text-decoration: none;
    color: #61dafb;
}

