.nav {
    margin-left: 12%;
    margin-bottom: 20px;
}

.miniNav {
    display: none;
}

.link {
    display: grid;
    margin-top: 40px;
    grid-template-areas: "ico label";
    grid-template-columns: 18px auto;
    align-items: center;
    grid-gap: 4.6%;
}

.link svg {
    grid-area: ico;
    width: 100%;
    fill: #9d9aa8;
}

.activeItem svg{
    fill: #6d57f6;
}

.item {
    grid-area: label;
    font-family: Montserrat;
    max-width: 150px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: left;
    color: #9d9aa8;
}

.activeItem .item{
    color: #6d57f6;
    font-weight: 600;
}

.itemLogout svg {
    fill: #f81c1c;
    cursor: pointer;
}

.itemLogout .item {
    color: #f81c1c;
    cursor: pointer;
}



@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .miniNav {
        margin-left: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-row-gap: 10%;
        justify-items: center;
        padding-top: 5px;
    }

    .li {
        align-self: center;
    }

    .li svg {
        width: 30px;
        height: 30px;
        fill: #9d9aa8;
    }

    .activeLi svg{
        fill: #6d57f6;
    }
}
