.nav {
    display: grid;
    grid-template-areas: "l" "f";
    grid-template-rows: 3fr 1fr;
    max-width: 200px;
    padding: 0.5em;
    font-size: 1.2em;
}

.nav .list {
    grid-area: l;
}

.nav .friends {
    grid-area: f;
}

.item {
    padding-top: 5px;
}

.item a{
    color: black;
    text-decoration: none;

}

.item a.activeLink {
    color: ghostwhite;
}

.friends {
    margin-top: 15px;
}

@media screen and (max-width: 600px){
    .nav {
        max-width: 100px;
        padding: 0.1em;
        font-size: 0.7em;
    }
}