.nav {
    grid-area: n;
    background-color: #61dafb ;
    padding: 25px;
    margin-top: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "l" "f";

    grid-template-rows: 3fr 1fr;
}

.nav .list {
    grid-area: l;
}

.nav .friends {
    grid-area: f;
}

.item {
    padding-top: 7px;
}

.item a{
    color: black;
    text-decoration: none;

}

.item a.activeLink {
    color: ghostwhite;
}