.friendsBlock {
    width: 100%;
    height: 100%;
}

.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend {
    background: linear-gradient(to top, var(--wrap-bg-color) 72%, var(--color-block) 28%);
    border-radius: 10px;
    width: 24%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.pag {
    height: 50px;
    margin-top: 20px;
}

.photo {
    width: 70px;
    height: 70px;
    margin-top: 28px;
    border: solid 2px #61dafb;
    border-radius: 40px;
    background-color: var(--b-w-text-color);
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.descriptionUser {
    text-align: center;
    cursor: default;
    color: var(--b-w-text-color);
    height: 70px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.sendMessage {
    width: 100%;
    height: 30px;
    border-radius: 24px;
    background-color: #6d57f6;
    outline: none;
    border: none;
    padding: 6px 15px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
}

.delete {
    width: 100%;
    height: 30px;
    border-radius: 24px;
    outline: none;
    border: solid 1px #6d57f6;
    background-color: #ffffff;
    padding: 5px 10px;
    margin-right: 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: #6d57f6;
}

@media screen and (max-width: 900px){
    .friends {
        justify-content: left;
    }
    .friend {
        width: 31%;
        margin: 0 10px 10px 0;
    }
}

@media screen and (max-width: 700px){
    .friends {
        justify-content: space-around;
    }
    .friend {
        width: 49%;
        height: 230px;
        margin: 0 0 6px 0;
    }
    .pag {
        height: 70px;
        margin-left: 15%;
    }
}
