.descriptionBlock {
    margin: 10px;
    display: grid;
    grid-template-areas: "photo info_description";
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5em;
}

.mainPhoto {
    display: block;
    width: 100%;
    min-width: 100px;
    grid-area: photo;
    border-radius: 5px;
    border: black 2px solid;
    cursor: pointer;
}

.button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.info_description {
    grid-area: info_description;
}

.form {
    display: grid;
    grid-template-areas: "info description";
    grid-template-columns: 40% auto;
    grid-gap: 0.5em;
}

.info {
    grid-area: info;
}

.description {
    margin-top: 30px;
    grid-area: description;

}

@media screen and (max-width: 1200px){
    .form {
        display: inline-block;

    }
    .info {
        display: inline-block;
    }

    .description {
        margin-top: 0;
        display: inline-block;

    }
}
.contactsEdit {
    margin: 10px;
    grid-area: contacts;
    display: grid;
    grid-template-areas: "contactKey contactValue";
    grid-template-columns: 30% auto;
}

.contactKey {
    grid-area: contactKey;
}

.contactValue {
    grid-area: contactValue;
}

.contactsLink {
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
}

.contactsMenu {
    display: none;
}

.contactsMenuName {
    cursor: default;
}

.contactsMenuName::selection {
    background: transparent;
}
.name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 200px;
}


.status {
}

.tab {
    margin-left: 15px;
}


.save {
     background-color: #61dafb;
     width: 60px;
     height: 25px;
     border: #61dafb 1px solid;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
    outline: none;
}

.edit {
    background-color: #61dafb;
    width: 70px;
    height: 20px;
    border: #61dafb 1px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}
