.item {
  border-top: #d8d6dc 1px solid;

  display: flex;
  flex-direction: column;
}

.user {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.userPhoto {
  width: 40px;
  height: 40px;
  border: solid 2px #61dafb;
  border-radius: 25px;
}

.name {
  color: var(--b-w-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.19;
  text-align: left;
  margin-left: 10px;
}

.bottomBlock {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 50px;
}

.text {
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: var(--1a122d-w-text-color)
}

.likes {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.likeCount {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  text-align: left;
  color: #9d9aa8;
  cursor: default;
}

.likes img {
  margin-left: 5px;
  width: 18px;
  height: 16px;
}
