.login {
    padding: 5px 0 0 20px;
}

.button {
     background-color: #61dafb;
     width: 60px;
     height: 25px;
     border: #61dafb 1px solid;
     border-radius: 15px;
     font-size: 14px;
     cursor: pointer;
     margin-top: 5px;
     outline: none;
    font-weight: bolder;
}

.s1 {
    display: grid;
    width: 120px;
    grid-template-areas: "so st";
    grid-template-columns: auto auto;
}

.s2 {
    grid-area: so;
}

.s3 {
    grid-area: st;
    margin-top: -2px
}

