.login {
    background-color: var(--wrap-bg-color);
    width: 100%;
    height: 100%;
    padding: 3.5%;
    border-radius: 10px;
    color: var(--b-w-text-color);
}

.button {
    width: 80px;
    height: 38px;
    border-radius: 29px;
    background-color: #6d57f6;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 5px;

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #ffffff;
}

.s1 {
    display: grid;
    width: 120px;
    grid-template-areas: "so st";
    grid-template-columns: auto auto;
}

.s2 {
    grid-area: so;
}

.s3 {
    grid-area: st;
    margin-top: -2px
}

