.miniNav {
    margin-left: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    padding-top: 10px;
}

.li {
    align-self: center;
}

.li svg {
    width: 20px;
    height: 20px;
    fill: #9d9aa8;
    outline: none;
}

.activeLi svg{
    fill: #6d57f6;
}
