*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*transition: .1s ease-in-out;  добавим плавность переходов для всех элементов страницы*/
}

:root {
    --body-bg-color: #f6f6fa;
    --wrap-bg-color: white;
    --head-bg-color: #1a122d;
    --b-w-text-color: black;
    --1a122d-w-text-color: #1a122d;
    --9d9aa8-w-text-color: #9d9aa8;
    --color-block: #3827a0;
}

[data-theme="dark"] {
    --font-color: #c1bfbd;
    --body-bg-color: #1e2027;
    --wrap-bg-color: #242630;
    --head-bg-color: #242630;
    --b-w-text-color: white;
    --1a122d-w-text-color: white;
    --9d9aa8-w-text-color: white;

}

body {
    background: var(--body-bg-color);
    overflow-y: scroll;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

input {
    border: none;
    border-radius: 25px;
    background-color: #f6f6fa;
    outline: none;
    padding: 5px 5px 5px 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus  {
    -webkit-box-shadow: 0 0 0 30px #f6f6fa inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

textarea {
    border: none;
    border-radius: 5px;
    background-color: #f6f6fa;
    outline: none;
}


.mainPage {
    width: 100%;
    display: grid;
    grid-template-areas: ". icon userLog ."
                         ". navbar wraper .";
    grid-template-rows: 88px auto;
    grid-template-columns: 11% 16% 59% 11%;
    grid-row-gap: 18px;
    grid-column-gap: 1%;
}

.head {
    width: calc(100vw - 10px);
    height: 88px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--head-bg-color);
    z-index: -1;
}

.icon {
    grid-area: icon;
    align-self: center;
}


.nav {
    grid-area: navbar;
    width: 100%;
    height: 515px;
    border-radius: 10px;
    background-color: var(--wrap-bg-color);
}

.userLog {
    grid-area: userLog;
    align-self: center;
}

.appWrapperContent {
    grid-area: wraper;
    width: 100%;
    min-width: 400px;
}

.preloader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 9999;

}


/*
@media screen and (max-width: 700px){
    .mainPage {
        display: grid;
        grid-template-areas: "h h" "n c";
        grid-template-rows: 80px auto;
        grid-template-columns: 0.1fr 3fr;
        grid-column-gap: 0.3em;
        grid-row-gap: 0.2em;
    }
}

@media screen and (max-width: 600px){
    .nav {
        height: 160px;
    }
}
*/

