.dialogs {
    display: grid;
    grid-template-areas: "i m" ;
    grid-template-columns: 250px auto;
    font-size: 16px;
}

.dialogsItems{
    grid-area: i;
    width: 230px;
}
.messages {
    grid-area: m;
}

.message {
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.area {
    resize: none;
}

.button {
    background-color: #61dafb;
    width: 55px;
    height: 25px;
    border: #61dafb 1px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}